iframe {
		width: 100%;
		height: 50%;
	}
	
.col-left, .col-right {
	width: 50%;
	height: 100%;
	overflow: hidden;
	float: left;
}
.col-left {
	
	
}
.col-right {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centered{
	text-align: center;
}
.white-bar {
	width: 72px;
	height: 3px;
	background: #fff;
	margin: 0 auto;
	display: inline-block;
	margin-top: 21px;
}
.label-1, .label-2 {
	position: absolute;
	z-index: 100;
	color: #fff;
	font-weight: 300;
	left: 5%;
}
.label-1 {
	top:43%;
}
.label-2 {
	top:93%;
}
zarni-cam, matt-cam {
	position: static;
}